* {
    /* margin: 0;
	padding: 0; */
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url('../images/spotify_gif_2.gif');
    background-color: black;
}

nav {
    width: 100%;
    background: #1DB954;
    /* height: 80px; */
}

/* a {
    padding-left: 25px;
} */

.navtextcolor {
    color: antiquewhite;
    font-size: 19px;
    margin-left: 4px;
}

.navtextcolor:hover {
    color: black;
}

nav ul li {
	list-style: none;
	display: inline-block;
	margin-left: 4px;
}

nav ul li a {
	text-decoration: none;
	color: antiquewhite;
	font-size: 19px;
	margin-left: 4px;
    margin-right: 4px;
}

#colorscheme {
    color: antiquewhite;
    font-size: 19px;
}

#colorscheme:hover {
    color: black;
}

.dropdown-menu {
    background-color: antiquewhite;
    border: 4px solid #1DB954;
    border-radius: 5px;
    width: fit-content;
}

#navbarDropdown {
    color: antiquewhite;
}

#navbarDropdown:hover {
    color: black;
}

h1 {
    color: antiquewhite;
    font-size: 25px;
}

h2 {
    color: antiquewhite;
}

p {
    color: antiquewhite;
}

label {
    color: antiquewhite;
    padding-top: 10px;
    padding-bottom: 5px;
}


@media(max-width:990px) {
    .navbar {
        width: 100%;
        background: #1DB954;
    }

    .navbar-toggler {
        background: antiquewhite;
        border-color: black;
        border-radius: 8px;
        border-width: 3px;
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(29,185,84, 0.75)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }

    #mediadrop {
        color: antiquewhite;
    }

    #navbarDropdown {
        color: antiquewhite;
        /* padding-left: 5px; */
    }

    #colorscheme {
        color: antiquewhite;
    }

    .dropdown-menu {
        border-color: black;
    }
}