body {
    background-color: black;
}

nav {
    width: 100%;
    background: #5107b1;
    height: 80px;
}

a {
    padding-left: 25px;
}

.navtextcolor {
    color: white;
    font-size: 25px;
}

h1 {
    color: white;
    font-size: 25px;
}

